:root {
	--gap: 2em;
	--elem-color-main: rgb(211, 154, 80);
	--elem-color-secondary: #ce6707;
	--tunnel-color-primary: #b45c0a;
	--tunnel-color-secondary: #d11d4a;

	/* --main-bg-color: linear-gradient(#000 80%, rgb(36, 36, 36)); */
	--main-bg-color: linear-gradient(#000 80%, #242424);
}

* {
	box-sizing: border-box;
	transition: all ease-in-out 200ms;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--elem-color-main);

	text-align: center;
	overflow-x: hidden;
	background: var(--main-bg-color);
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 95%;
	max-width: 70em;
	margin: 0 auto;
	overflow: hidden;
}
.title {
	color: #fff;
}

/* ==Nav== */
header {
	background: #000;
	/* padding: 0;
	margin: 0; */
}
nav {
	width: 100%;
	height: 6rem;
	/* border-bottom: 3px solid #f1f1f1; */
	padding: 0 0.5rem;
	display: flex;
	/* flex-direction: row; */
	/* align-items: stretch; */
	justify-content: space-between;
	background: #000;
	color: var(--elem-color-main);
	font-size: 1.5rem;
	/* margin: 0 auto; */

	/* outline: 2px solid red; */
}
.primary-navigation {
	padding: 18px;

	display: flex;
	flex-direction: row nowrap;
	align-items: center;
	justify-content: space-evenly;
	list-style: none;
	background: #000;
	color: #fff;

	height: 100%;
	width: 100%;
	margin: 0 auto;
	list-style: none;
	display: flex;
	flex-flow: row nowrap;
}

.mobile-nav-toggle,
.hamburger {
	display: none;
	width: 3rem;
	height: 3rem;
	position: fixed;
	top: 15px;
	/* right: 20px; */
	left: 20px;
	z-index: 1001;

	cursor: pointer;
}

/* @media (max-width: 35em) { */
@media (max-width: 768px) {
	/* was 768px */
	.primary-navigation {
		--gap: 2em;
		z-index: 1000;

		flex-flow: column nowrap;
		position: fixed;

		top: 0;
		left: 0;
		height: 100vh;
		width: 200px;
		padding: 3rem;
		border-radius: 5px;
		transition: transform 0.25s ease-in-out;
	}
	.primary-navigation a > [aria-hidden='true'] {
		transform: translateX(5%);
	}

	/* hide mobile nav */
	.primary-navigation {
		transform: translateX(-100%);
	}
	/* Display mobile nav on click */
	.toggleNav {
		transform: translateX(0%);
	}

	/* .mobile-nav-toggle, */
	.hamburger {
		right: 20px;
		display: block;
		cursor: pointer;
		position: fixed;
		z-index: 9999;
		border: 0;
		/* transform-origin: center; */

		/* justify-content: space-around;
		flex-flow: column nowrap; */
	}

	/* Animate hamburger button */
	.change .bar1,
	.change .bar3 {
		background-color: rgb(202, 28, 28);
	}
	.change .bar1 {
		/* -webkit-transform: rotate(45deg) translate(-1rem, -1rem); */
		transform: rotate(45deg) translate(-0.2rem);
	}
	.change .bar2 {
		transform: translateX(-100%);
		opacity: 0;
	}
	.change .bar3 {
		transform: rotate(-45deg) translate(-0.2rem);
	}
}

.nav-item {
	/* color: #fff; */
	color: var(--elem-color-main);

	font-size: 1.75rem;
	padding: 18px;
}
.nav-item a {
	text-decoration: none;
	color: inherit;
}

.nav-item a:hover,
.nav-item a:focus {
	color: var(--elem-color-secondary);
	border-color: var(--elem-color-secondary);
}

.hamburger div {
	width: 2.7rem;
	height: 0.4rem;
	background-color: rgb(219, 197, 197);
	margin: 0.3rem;
	transition: 0.3s;
	border-radius: 10px;
	border: 1px solid black;
	transform-origin: 1px;
	transition: all 0.3s linear;
}

/* .hamburger div {
	width: 2rem;
	height: 0.35rem;
	background-color: ${({ open }) => (open ? '#C16C68' : '#777')};
	border-radius: 10px;
	border: 1px solid black;
	transform-origin: 1px;
	transition: all 0.3s linear;
	&:nth-child(1) {
			transform: ${({ open }) => (open ? 'rotate(45deg)' : 'rotate(0)')};
		}
		&:nth-child(2) {
			transform: ${({ open }) =>
				open ? 'translateX(100%)' : 'translateX(0)'};
			opacity: ${({ open }) => (open ? 0 : 1)};
		}
		&:nth-child(3) {
			transform: ${({ open }) => (open ? 'rotate(-45deg)' : 'rotate(0)')};
		}
} */

/* ==home-hero== */
.home-hero {
	/* height: inherit; */
	height: 35rem;
	background-image: url(/public/assets/hero-bg.jpg);
	background-size: cover;
	background-position: center;

	/* "parallax" */
	/* background-attachment: fixed; */
}
@media (min-width: 60rem) {
	.home-hero {
		/*scale img with view height*/
		height: 100vh;
		padding-top: 3vh;
	}
}

/* ==Animate css tunnel effect== */
.animate-css-container {
	/* padding: 5rem; */

	width: 90%;
	height: 10em;
	/* left: 5%; */
	margin: 5rem 5%;
	/* overflow: hidden; */
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	perspective: 100px;
	animation: zoom 20s ease-in-out infinite, scale 30s ease-in-out infinite;

	/* animation: rotate 20s ease-in-out infinite; */
	/* animation-delay: 0; */
}

/* Contained in JS: csstext */
.animate-frame {
	width: 100%;
	height: 100%;
	border-radius: 50px;
	position: absolute;
	border: 5px #e68608 solid;
	/* 2 shadow layers, outside and inside */
	/* box-shadow: 0px 0px 20px #00ccff, inset 0px 0px 20px #00ccff,
		0px 0px 60px #991a93, inset 0px 0px 60px #991a93; */

	box-shadow: 0px 0px 20px var(--tunnel-color-primary),
		inset 0px 0px 20px var(--tunnel-color-primary),
		0px 0px 60px var(--tunnel-color-secondary),
		inset 0px 0px 60px var(--tunnel-color-secondary);

	filter: brightness(0.95) contrast(3);
	animation: breathe 2s ease-in-out infinite;
}

@keyframes breathe {
	0% {
		filter: brightness(1) contrast(2);
	}
	50% {
		filter: brightness(1.8) contrast(4);
	}
	100% {
		filter: brightness(1) contrast(2);
	}
}

@keyframes zoom {
	0% {
		perspective: 150px;
	}
	50% {
		perspective: 15px;
	}
	100% {
		perspective: 150px;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes scale {
	0% {
		transform: scale(85%, 120%);
	}
	50% {
		transform: scale(20%, 150%);
	}
	100% {
		transform: scale(85%, 120%);
	}
}

@keyframes tunnel-text-shadow {
	0% {
		text-shadow: 0px 0px 10px var(--tunnel-color-primary);
	}
	25% {
		text-shadow: 5px 10px 40px var(--tunnel-color-secondary);
	}
	50% {
		text-shadow: 10px 20px 40px var(--tunnel-color-secondary);
	}
	100% {
		text-shadow: 0px 0px 10px var(--tunnel-color-primary);
	}
}

/* ==Portfolio items== */

.portfolio {
	position: relative;
}
.portfolio h2 {
	display: inline;
	width: inherit;
	height: fit-content;
	animation: tunnel-text-shadow 30s linear infinite;
}
.portfolio-container {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	flex-wrap: nowrap;
}
.portfolio-item {
	border: 2px solid var(--elem-color-main);
	border-radius: 10px;
	/* box-shadow: 10px 5px 5px red; */
	margin: 2rem;
	padding: 2rem;
}
