*{
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
}

body{
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    overflow-x: hidden;
}

img{
    max-width: 100%;
    height: auto;
}

.container {
    width: 95%;
    max-width: 70em;
    margin: 0 auto;
    overflow: hidden;
}

/* ==home-hero== */
.home-hero{
    /* height: inherit; */
    height: 35rem;
    background-image: url(/public/assets/hero-bg.jpg);
    background-size:cover;
    background-position: center;
}